---
import Header from "../sections/Header.astro";

const { data } = Astro.props;
---

<div
  class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 md:px-12 md:py-20 lg:px-24 lg:py-0"
>
  <a
    href="#content"
    class="absolute left-0 top-0 block -translate-x-full rounded bg-gradient-to-br from-scooter-400 via-blue-500 to-purple-600 px-4 py-3 text-sm font-bold uppercase tracking-widest text-white focus-visible:translate-x-0"
  >
    Skip to Content
  </a>

  <section class="lg:flex lg:justify-between lg:gap-4">
    <Header
      title={data.titleH1}
      description={data.description}
      subtitle={data.subtitleH2}
      gmailLink={data.gmailLink}
      githubLink={data.githubLink}
      linkedinLink={data.linkedinLink}
      resumeLink={data.resumeLink}
      twitterLink={data.twitterLink}
      upworkLink={data.upworkLink}
    />
    <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
      <!-- <About data={data.about} ref={aboutSectionRef} />
          <Experience jobs={data.jobExperiences} ref={experienceSectionRef} />
          <Projects projects={data.projects} ref={projectsSectionRef} />

          <Writing blogs={data.blogs} /> -->
    </main>
  </section>
</div>
