---
import Github from "../icons/github.astro";
import Gmail from "../icons/gmail.astro";
import Linkedin from "../icons/linkedin.astro";
import Readcv from "../icons/readcv.astro";
import Twitter from "../icons/twitter.astro";
import Upwork from "../icons/upwork.astro";

interface Props {
  title: string;
  subtitle: string;
  description: string;

  gmailLink: string;
  githubLink: string;
  linkedinLink: string;
  resumeLink: string;
  twitterLink: string;
  upworkLink: string;
}

const {
  title,
  subtitle,
  description,

  gmailLink,
  githubLink,
  linkedinLink,
  resumeLink,
  twitterLink,
  upworkLink,
} = Astro.props;
---

<script>
  import { animate, stagger } from "motion";

  document.querySelectorAll(".social-link").forEach((link) => {
    link.addEventListener("click", (e: any) => {
      const type = e.target.getAttribute("data-type");
      window.posthog.capture(`$${type}_click`);
      window.posthog.capture(`$social_link_click`);
    });
  });

  animate(
    ".header h1",
    {
      opacity: [0, 1],
      y: [40, 0],
    },
    {
      delay: 0.2,
    }
  );

  animate(
    ".header .subheading",
    {
      opacity: [0, 1],
      y: [40, 0],
    },
    {
      delay: 0.35,
    }
  );

  animate(
    ".header p",
    {
      opacity: [0, 1],
      y: [40, 0],
    },
    {
      delay: 0.5,
    }
  );

  const stagger1 = stagger(0.1, { startDelay: 0.6 });
  animate(
    ".nav .nav-item",
    {
      opacity: [0, 1],
      x: [-60, 0],
    },
    {
      delay: stagger1,
    }
  );

  const stagger2 = stagger(0.05, { startDelay: 0.6 });
  animate(
    ".social-link",
    { opacity: [0, 1], y: [20, 0] },
    {
      delay: stagger2,
    }
  );
</script>

<section
  class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
>
  <div class="w-full header">
    <h1
      class="heading text-2xl w-fit font-bold text-neutral-200 print:text-black sm:text-4xl"
    >
      {title}
    </h1>
    <h3
      class="subheading mt-2 md:mt-3 font-semibold text-neutral-300 print:text-black text-sm sm:text-lg"
    >
      {subtitle}
    </h3>

    <p
      class="description mt-4 max-w-xs leading-normal text-neutral-400 print:text-black text-[15px]"
    >
      {description}
    </p>

    <nav class="nav hidden lg:block" aria-label="In-page jump links">
      <ul class="mt-24 w-max">
        {
          ["About", "Experience", "Projects"].map((item, i) => (
            <li class="nav-item">
              <a
                class="group flex items-center py-3"
                aria-label={`Jump to ${item} section`}
                href={"#" + item.toLowerCase()}
              >
                <span class="nav-indicator mr-4 h-px w-8 bg-neutral-600 transition-all group-hover:w-16 group-hover:bg-neutral-200 group-focus-visible:w-16 group-focus-visible:bg-neutral-200 motion-reduce:transition-none" />
                <span class="nav-text text-xs font-bold uppercase tracking-widest text-neutral-400/80 group-hover:text-neutral-200 group-focus-visible:text-neutral-200">
                  {item}
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <div class="flex items-center gap-5 mt-8 [&>*]:p-1">
    <a
      target="_blank"
      class="social-link"
      rel="noreferrer"
      aria-label="mail me"
      title="send a mail to devang"
      href={gmailLink}
      data-type="gmail"
    >
      <Gmail />
    </a>
    <a
      target="_blank"
      class="social-link"
      rel="noreferrer"
      aria-label="linkedin url"
      title="linkedin profile url"
      href={linkedinLink}
      data-type="linkedin"
    >
      <Linkedin />
    </a>
    <!-- <a
      target="_blank"
      class="social-link"
      rel="noreferrer"
      aria-label="twitter url"
      title="twitter profile url"
      class="hidden"
      href={twitterLink}
      data-type="twitter"
    >
      <Twitter />
    </a> -->
    <a
      target="_blank"
      class="social-link"
      rel="noreferrer"
      aria-label="github url"
      title="github profile url"
      href={githubLink}
      data-type="github"
    >
      <Github />
    </a>
    <a
      target="_blank"
      class="social-link"
      rel="noreferrer"
      aria-label="upwork url"
      title="upwork profile url"
      href={upworkLink}
      data-type="upwork"
    >
      <Upwork />
    </a>
    <a
      target="_blank"
      class="social-link"
      rel="noreferrer"
      aria-label="readcv url"
      class="-ml-1"
      title="readcv profile url"
      href={resumeLink}
      data-type="resume"
    >
      <Readcv />
    </a>
  </div>
</section>
